<div class="MdMTMWidget01 mdMTMWidgetUtil01TypeTtl MdEditable02">
  <%= render 'blocks/updown_block_form' %>
  <%= render(has_one_name(block) + '/block', block: block) %>
  <%= render 'blocks/edit_block_form' %>
</div>
