<div class="mdMTMWidget01Util02 hide">
  <a class="MdBtn02Edit01" href=""></a>
  <span class="MdSeparator01P02">|</span>
  <%= link_to '削除', order_up_path(block_id: block.id), method: :delete %>
</div>
