<div class="mdMTMWidget01Util01 hide">
  <div class="MdToolbar01">
    <%= link_to "上", order_up_path(block_id: block.id), method: :post %>
    <%= link_to "下", order_down_path(block_id: block.id), method: :post %>
  </div>
</div>
