<div class="MdMTMWidget01 mdMTMWidgetUtil01TypeTtl MdEditable02">
  <div class="mdMTMWidget01Content01 MdCF">
    <div class="mdMTMWidget01ItemTtl01">
      <p class="mdMTMWidget01ItemTtl01View">
        <%= @midasi_new.content %>
      </p>
    </div>
  </div>
</div>
