<div class="mdMTMWidget01Content01 MdCF">
  <div class="mdMTMWidget01ItemImg01">
    <p class="mdMTMWidget01ItemImg01View">
    <% if block.mimage.image? %>
      <%= image_tag block.mimage.image.url %>
    <% end %>
    </p>
  </div>
</div>

