@import "bootstrap";

.hide {
  display: none;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font: 12px/1.5 arial,sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

p, ol, ul, td {
  font-family: arial, sans-serif;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

.LyWrap {
  margin: 0;
  padding: 0;

  .lyWrapInner {
    width: 100%;
    min-width: 960px;
  }
}

.LyTop {
  padding-top: 41px;

  .lyTopInner {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
}

.MdHeadUtil01 {
  width: 1010px;
  margin: 0 auto;
}

.MdHeadUtil01 {
  top: 7px;
}

.MdHeadTtl01 {
  text-align: center;
}

.lyHeadNav {
  nav {
    ul.MdHeadUtil01 {
      position: absolute;
      width: 1010px;
      margin: 0 auto;
      text-align: right;
      li.mdHeadUtil01Li {
        display: inline-block;

        ul.mdHeadUtil01Sub {
          text-align: left;
          width: 98px;
        }
      }
    }
  }
}

.LyContents {
  width: 100%;
  padding-bottom: 20px;

  .lyContentsWrap {
   width: 960px;
   margin: 0 auto;
  }
}

.LyMain {
  float: left;
  width: 635px;
  padding-bottom: 40px;

  .ArMain01 {
    .MdPagination03 {
      margin-bottom: 40px;
    }
  }
}

.MdPagination03 {
  line-height: 1.2;
  margin: 30px 0;
  font-size: 16px;
  text-align: center;
}

#matomes-index {
  h2 {
    font-weight: bold;
  }
}

.MdMTMEditHead01.mdMTMEditHead01Fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.MdMTMEditHead01 {
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 500;
  width: 100%;
  min-width: 960px;
  height: 41px;
  border-bottom: 1px solid #e7e7e7;
  background: #f9f9f9;

  .mdMTMEditHead01Inner {
    position: relative;
    width: 960px;
    margin: 0 auto;
  }

  .mdMTMEditHead01Ttl {
    line-height: 41px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
  }

  .mdMTMEditHead01Btn {
    position: absolute;
    top: 8px;
    right: 6px;
    width: 240px;
    text-align: right;
  }
}

.LyFoot {
  width: 100%;
  border-top: 1px solid #e7e7e7;

  .lyFootInner {
    width: 960px;
    margin: 0 auto;
    padding: 25px 0;
  }
}

.MdHide {
  position: absolute;
  left: -9999px;
}

.MdNaverLink01 {
  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .mdNaverLink01Ul {
    float: left;
    line-height: 1;
  }

  .mdNaverLink01Li {
    display: inline;

    a {
      color: #333;
      font-size: 11px;
    }
  }
}

.MdHeadSeparator01 {
  display: inline-block;
  width: 0;
  overflow: hidden;
  border-left-width: 1px;
  border-left-style: solid;
  vertical-align: -1px;
  height: 11px;
  margin: 0 9px 0 11px;
  border-left-color: #eaeaea;
}

.MdFootSeparator01 {
  display: inline-block;
  width: 0;
  overflow: hidden;
  border-left-width: 1px;
  border-left-style: solid;
  vertical-align: -1px;
  height: 11px;
  margin: 0 9px 0 11px;
  border-left-color: #eaeaea;
}

.MdCopyright01 {
  float: right;
  line-height: 1;
  color: #333;
  font-family: Tahoma;
  font-size: 11px;

  b {
    font-weight: normal;
  }
}

.MdMTMWidgetUtil01 {
  position: relative;
  line-height: 1.2;
  overflow: hidden;
  margin: 0 0 10px;
  padding: 15px 0 0 5px;
  vertical-align: middle;

  .mdMTMWidgetUtil01Ttl {
    overflow: hidden;
    margin: 0 25px 0 0;
    //padding: 0 0 0 81px;
    display: inline-block;
  }

  .mdMTMWidgetUtil01List {
    display: inline-block;
  }

  .mdMTMWidgetUtil01Li {
    display: inline-block;
    margin: 0 25px 0 0;
  }

  .mdMTMWidgetUtil01BtnFV {
    position: absolute;
    top: 13px;
    right: 5px;
    width: 176px;
    height: 14px;
    letter-spacing: -1px;
  }
}

.MdMTMWidget01 {
  position: relative;
  width: 635px;
  margin: 0 0 35px 0;

  .mdMTMWidget01Content01 {
    position: relative;
    width: 635px;
  }

  .mdMTMWidget01ItemTtl01View {
    color: #000;
    line-height: 1.3;
    padding-bottom: 5px;
    border-bottom: 2px solid #eaecee;
    font-weight: bold;
    font-size: 20px;
    a {
      padding: 2px 0;
      color: #000;
    }
  }

  .mdMTMWidget01ItemTtl01Link {
    text-decoration: underline;
  }

  .mdMTMWidget01ItemUrl01View {
    line-height: 1.2;
    margin: 3px 0 0;
    font-size: 11px;
  }

  .mdMTMWidget01ItemUrl01Link {
    color: #7c94aa;
    text-decoration: none;
  }

  .mdMTMWidget01ItemDesc01View {
    line-height: 1.4;
    margin: 3px 0 0;
    color: #aaa;
  }

  .mdMTMWidget01ItemComment01View {
    line-height: 1.429;
    margin: 10px 0 0;
    padding: 0 0 0 6px;
    border-left: 2px solid #d0d0d0;
    color: #666;
    font-size: 14px;
  }

  .mdMTMWidget01ItemQuote01View {
    position: relative;
    line-height: 1.3;
    color: #666;
    font-weight: bold;
    font-size: 20px;
    text-indent: 22px;
  }

  .mdMTMWidget01ItemQuote01Ico {
    position: absolute;
    top: 3px;
    left: 0;
    width: 20px;
    height: 17px;
  }

  .mdMTMWidget01ItemQuote01Txt {
    quotes: none;
  }

  .mdMTMWidget01ItemOption01 {
    margin-top: 7px;
  }
  .mdMTMWidget01ItemCite01View {
    line-height: 1.2;
    margin: 3px 0 0;
    color: #aaa;
  }

  .mdMTMWidget01ItemCite01Label {
    font-size: 11px;
    float: left;
    margin-right: 5px;
  }

  .mdMTMWidget01ItemCite01Value {
    font-size: 11px;
    display: block;
    overflow: hidden;

    a {
      position: relative;
      color: #aaa;
      text-decoration: none;
    }
  }

  .mdMTMWidget01ItemComment01View {
    line-height: 1.429;
    margin: 10px 0 0;
    padding: 0 0 0 6px;
    border-left: 2px solid #d0d0d0;
    color: #666;
    font-size: 14px;
  }

  .mdMTMWidget01ItemTxt01View {
    line-height: 1.429;
    color: #666;
    font-size: 14px;
  }

  .mdMTMWidget01Util01 {
    position: absolute;
    width: 635px;
    text-align: right;
  }
  .mdMTMWidget01Util02 {
    position: absolute;
    width: 635px;
    text-align: right;
  }
}


.mdMTMWidget01Content01Thumb {
  float: left;
  max-width: 300px;
  margin: 0 10px 0 0;
}

.MdHeading01 {
  padding-top: 15px;
  position: relative;

  .mdHeading01Main {
    float: left;
    width: 725px;
  }

  .mdHeading01Txt {
    margin-left: 110px;
  }

  .mdHeading01Ttl {
    display: inline;
    font-size: 32px;
    line-height: 38px;

    a {
      margin: 0 15px 0 0;
      padding: 6px 0;
      color: #000;
      text-decoration: none;
    }
  }

}

