<footer role="contentinfo">
  <div class="LyFoot">
    <div class="lyFootInner">
      <h2 class="MdHide">NAVER リンク</h2>
      <div class="MdNaverLink01">
        <ul class="mdNaverLink01Ul">
          <li class="mdNaverLink01Li">
            <a href="#">会社概要</a>
            <span class="MdFootSeparator01">|</span>
          </li>
          <li class="mdNaverLink01Li">
            <a href="">利用規約</a>
            <span class="MdFootSeparator01">|</span>
          </li>
          <li class="mdNaverLink01Li">
            <a href="">プレイバシー</a>
            <span class="MdFootSeparator01">|</span>
          </li>
          <li class="mdNaverLink01Li">
            <a href="">ヘルプ</a>
            <span class="MdFootSeparator01">|</span>
          </li>
          <li class="mdNaverLink01Li">
            <a href="">公式ブログ</a>
          </li>
        </ul>
        <p class="MdCopyright01"><small>© <b>asdf Corporation</b></small></p>
      </div>
    </div>
  </div>
</footer>
