<header>
  <h1 id="title">
    <%= link_to "NAVER まとめ", root_path %>
  </h1>
  <div class="LyHead">
    <div class="lyHeadWrap">
      <div class="lyHeadInner MdHeadTtlGroup01" role="banner"></div>
      <form action=""></form>
      <%= render 'layouts/nav' %>
    </div>
  </div>
</header>
