<nav>
  <ul class="nav pull-right">
    <li><%= link_to "まとめ作成", new_matome_path %></li>
    <li><%= link_to "会員登録 (無料)", signup_path %></li>
    <li><%= link_to "ログイン", signin_path %></li>
  </ul>
</nav>

